* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 700px;
    height: 500px;
    border: 1px solid grey ;
}

#next {
    cursor: pointer;
}

#prev {
    cursor: pointer;
}